.fw-bold{
    color: var(--text-dark-gray);
}

.login input:focus{ 
    box-shadow: none;
}

.line-heading::before{
    background-color: #8f8e8e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    right: 10px;
}

.line-heading::after{
    background-color: #8f8e8e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
    left: 10px;
}